@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --blue:#31A3B9;
    --blue-hover:#2c95aa;
    --lighter-blue: #62d3ea14;
    --lightest-blue:#31a2b918;
    --white:#fff;
    --overlay: #fafafa56;
    --black:#000;
    --green: #36CE57;
    --green2: #31B957;
    --green-hover: #3bff72;
    --neon-green:#66ff00;
    --light-yellow: #ffeec4;
    --yellow: #B99331;
    --light-red:#da454518;
    --red:#B93131;
    --tomato-hover:#bd0202fb;
    --tomato-red:#da4545fb;
    --light-green:#87D99E;
    --lighter-green: #EBF9F7;
    --shadow: #a9a9a989;
}

body {
    font-family: "Inter", sans-serif;
    background: var(--white);
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#content {
    width: 100%;
    padding: 30px 50px;
    min-height: 100vh;
    transition: all 0;
}

.invoice-table-header{
    background-color: var(--blue);
    padding: 20px;
    border-radius: 6px;
}

.inv-header-text{
    color: var(--white);
}

.inv-paid-row{
    background-color: var(--lightest-blue);
    padding: 20px;
    border-radius: 6px;
    color: var(--blue);
}

.inv-pending-row{
    background-color: var(--light-yellow);
    padding: 20px;
    border-radius: 6px;
    color: var(--blue);
}

.inv-overdue-row{
    background-color: var(--light-red);
    padding: 20px;
    border-radius: 6px;
    color: var(--blue);
}

.inv-paid{
    background-color: var(--green);
    color: var(--white);
    border-radius: 25px;
    width: 100px;
    padding: 10px;
}

.inv-pending{
    background-color: var(--yellow);
    color: var(--white);
    width: 100px;
    padding: 10px;
    border-radius: 25px;
}

.inv-overdue{
    background-color: var(--red);
    color: var(--white);
    width: 100px;
    padding: 10px;
    border-radius: 25px;
}

.inv-view-button{
    background-color: var(--white);
    color: var(--blue);
    border: 1px solid var(--blue);
}

.inv-view-button:hover{
    background-color: var(--blue);
    color: var(--white);
}

.inv-header{
    color: var(--blue);
    margin-top: 25px;
}

.inv-header h1{
    font-weight: 600;
}