@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --blue:#31A3B9;
    --blue-hover:#2c95aa;
    --lighter-blue: #62d3ea14;
    --lightest-blue:#31a2b918;
    --lightest-blue2:#b5f3ff73;
    --white:#fff;
    --overlay: #fafafa56;
    --black:#000;
    --green: #36CE57;
    --green2: #31B957;
    --green-hover: #3bff72;
    --neon-green:#66ff00;
    --light-yellow: #ffeec4;
    --yellow: #B99331;
    --light-red:#da454518;
    --red:#B93131;
    --tomato-hover:#bd0202fb;
    --tomato-red:#da4545fb;
    --light-green:#87D99E;
    --lighter-green: #EBF9F7;
    --shadow: #a9a9a989;
  }

body {
    font-family: "Inter", sans-serif;
    background: var(--white);
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}


#content {
    width: 100%;
    padding: 30px 50px;
    min-height: 100vh;
    transition: all 0;
}


.add-patient-container{
    background-color: var(--lighter-green);
    padding: 50px 80px;
    border-radius: 15px;
}

.add-service-title{
    color: var(--blue);
    font-weight: 600;

}

.receipt-container{
    background-color: var(--white);
    border-radius: 10px;
}

.receipt-header{
    background-color: var(--blue);
    color: var(--white);
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    border-radius: 10px 10px 0px 0px;
}

.receipt-info{
    background-color: var(--white);
    color: var(--blue);
    display: flex;
    justify-content: space-around;
    padding: 20px 40px;
    
}

.receipt-total{
    background-color: var(--lightest-blue2);
    display: flex;
    justify-content: space-around;
    border-radius: 0 0 10px  10px;
    color: var(--blue);
}

.receipt-total-amount{
    display: flex;
    gap: 150px;
    padding: 15px 0;
}

.total-paid{
    display: flex;
    justify-content: end;
    gap: 100px;
    margin-top: 60px;
}

.balance{
    display: flex;
    justify-content: end;
    gap: 100px;
}

.balance-text{
    font-size: 1.3rem;
    font-weight: 500;
    color: #36CE57;
}

.save-patient-button{
    background-color: #31A3B9;
    color: #fff;
    padding: 10px 25px;
}

.save-patient-button:hover{
    background-color: #028da8;
    color: #fff;
}

.tooth{
    width: 50px;
    height: 90px;
}

.tooth-button{
    margin: 5px 0;
    background-color: #31A3B9;
    color: #fff;
    width: 50px;
}

.tooth-button:hover{
    background-color: #0093b0;
    color: #fff;
}

.option-text{
    color: #31A3B9 !important;
}

.spinner-overlay{
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ebf9f74f;
    width: 100%;
    height: 100%;
}

.tooth-no{
    width: 150px;
}

.service-name{
    width: 200px;
}

.error-message{
    color: #ff0000;
    font-size: 12px;
    font-style: italic;
    margin: 0;
    margin-top: 3px;
    /* display: none; */
}