@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --blue:#31A3B9;
    --blue-hover:#2c95aa;
    --lighter-blue: #62d3ea14;
    --lightest-blue:#31a2b918;
    --white:#fff;
    --overlay: #fafafa56;
    --black:#000;
    --green: #36CE57;
    --green2: #31B957;
    --green-hover: #3bff72;
    --neon-green:#66ff00;
    --light-yellow: #ffeec4;
    --yellow: #B99331;
    --light-red:#da454518;
    --red:#B93131;
    --tomato-hover:#bd0202fb;
    --tomato-red:#da4545fb;
    --light-green:#87D99E;
    --lighter-green: #EBF9F7;
    --shadow: #a9a9a989;
}

body {
    font-family: "Inter", sans-serif;
    background: var(--white);
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}


#content {
    width: 100%;
    padding: 30px 50px;
    min-height: 100vh;
    transition: all 0;
}

.appoint-header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 25px;
}

.appoint-header h1{
    color: var(--blue);
    font-weight: 600;
    margin: 25px 0;
}

.app-button-color{
    background-color: var(--blue);
}

.app-button-color

.button-text{
    color: var(--white);
    padding: 10px;
}

.buttons{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.button-add:hover, .button-add:active{
    background-color: var(--blue-hover);
    color: var(--white);
}

.button-border-text{
    color: var(--blue);
    border: 1px solid var(--blue);
}

.button-border-text:hover, .button-border-text:active{
    color: var(--white);
}

.app-button-color:hover{
    background-color: var(--blue-hover);
}

.button-radius{
    padding: 3px 18px;
    border-radius: 20px;
}

.upcoming-row{
    background-color: var(--lighter-green);
    padding: 20px;
    margin-top: 25px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.app-patient-label{
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--green);
    text-transform: capitalize;
}

.app-patient-info{
    color: var(--green);
}

.button-resched{
    color: var(--blue);
    border: 1px solid var(--blue);
    background-color: var(--white);
    box-shadow: 1px 1px 2px var(--shadow);
}

.button-resched:hover, .button-resched:hover{
    background-color: var(--blue);
    color: var(--white);
}

.button-delete{
    color: var(--red);
    border: 1px solid var(--red);
    padding: 10px;
    border-radius: 8px;
    background-color: var(--white);
    box-shadow: 1px 1px 2px var(--shadow);
}

.button-delete:hover, .button-delete:active{
    color: var(--white);
    background-color: var(--red);
}


.pending-row{
    background-color: var(--light-yellow);
    padding: 20px;
    margin-top: 25px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.app-patient-label-pending{
    text-transform: capitalize;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--yellow);
    text-transform: capitalize;
}

.app-patient-info-pending{
    color: var(--yellow);
}

.button-accept{
    color: var(--green);
    border: 1px solid --green;
    background-color: var(--white);
    box-shadow: 1px 1px 2px var(--shadow);
}

.button-accept:hover, .button-accept:active{
    color: var(--white);
    background-color: var(--green);
}

.button-calendar{
    color: var(--blue);
    border: 1px solid var(--blue);
    background-color: var(--white);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 1px 1px 2px var(--shadow);
}

.button-calendar:hover{
    color: var(--white);
    background-color: var(--blue);
}

.finished-row{
    background-color: var(--lightest-blue);
    padding: 20px;
    margin-top: 25px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.app-patient-label-finished{
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--blue);
    text-transform: capitalize;
}

.app-patient-info-finished{
    color: var(--blue);
}

.cancelled-row{
    background-color: var(--light-red);
    padding: 20px;
    margin-top: 25px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.app-patient-label-cancelled{
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--tomato-red);
    text-transform: capitalize;
}

.app-patient-info-cancelled{
    color: var(--tomato-red);
}
.button-view-finished{
    background-color: var(--blue);
    color: var(--white);
    box-shadow: 1px 1px 2px var(--shadow);
}

.button-view-finished:hover{
    background-color: var(--blue-hover);
    color: var(--white);
}
.button-view-cancelled{
    background-color: var(--tomato-red);
    color: var(--white);
    box-shadow: 1px 1px 2px var(--shadow);
}

.button-view-cancelled:hover{
    background-color: var(--tomato-hover);
    color: var(--white);
}

.button-finish{
    color: var(--neon-green);
    border: 1px solid var(--neon-green);
    padding: 10px;
    margin: 0;
    border-radius: 8px;
    background-color: var(--white);
    box-shadow: 1px 1px 2px #a9a9a989;
}


.reschedule-overlay, .confirmpage-overlay, .cancelpage-overlay, .viewpage-overlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

.spinner-overlay{
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--overlay);
    width: 100%;
    height: 100%;
}

.buttons button:hover{
    background-color: var(--blue);
}