@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
    background: #fafafa;
}

.dentist-menu{
    padding: 0;
    width: 100%;
    margin: 0;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #31A3B9;
    color: #fff;
    transition: all 0.3s;
    
}


#sidebar .sidebar-header {
    padding: 20px;
    background: #31A3B9;
    display: flex;
    justify-content: center;
}

.dentist-nav-dashboard{
    display: flex;
    align-items: center;
}

.dentistnav-menu{
    color: #fff;
}

.dentist-navbar-container{
    width: 250px;
    height: 100vh;
    position: fixed;
    
}

.dentist-navbar{
    background-color: #31A3B9;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0 0 0;
    
}

.dentist-navbar-logo{
    width: 120px;
    margin-bottom: 30px;
}

.dentist-nav-patients{
    display: flex;
    align-items: center;
    cursor: pointer;
    /* background-color: #36CE57; */
    width: 100%;
    margin: 0;
    padding: 10px 37px;
}

.dentist-nav-patients:hover, .dentist-nav-patients:active{
    background-color: #36CE57;
}



.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}



.dentist-patients-text
{
    font-size: 1.5rem;
    font-weight: 500;
}


.dentist-info{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: end;
}

.dentist-info-user-button{
    color: #36CE57;
    width: 250px;
}

.admin-hello, .admin-info-name{
    color: #36CE57;
    font-size: 1.5rem;
    font-weight: 500;
}

.admin-info-dashtext{
    padding-top: 10px;
    font-size: 3rem;
}

.dentistnav-link{
    text-decoration: none;
    margin: 0;
}

#content {
    width: 100%;
    padding: 30px 50px;
    min-height: 100vh;
    transition: all 0.3s;
}