@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
   --blue:#31A3B9;
   --blue-hover:#2c95aa;
   --lighter-blue: #62d3ea14;
   --lightest-blue:#31a2b918;
   --white:#fff;
   --overlay: #fafafa56;
   --black:#000;
   --green: #36CE57;
   --green2: #31B957;
   --neon-green:#66ff00;
   --light-yellow: #ffeec4;
   --yellow: #B99331;
   --light-red:#da454518;
   --red:#B93131;
   --tomato-hover:#bd0202fb;
   --tomato-red:#da4545fb;
   --light-green:#87D99E;
   --lighter-green: #EBF9F7;
   --shadow: #a9a9a989;
   --light-gray: #c5c3c323;
   --search-bar: #000000;
}

body {
    font-family: "Inter", sans-serif;
    background: var(--white);
}

.patients-container {
    display: flex;
    width: 100%;
}

.patients-container .content {
   width: 100%;
   padding: 30px 50px;
   min-height: 100vh;
   margin-left: 18%;
}

.patients-container .patient-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

 .patients-container .patient-header h1{
   color: var(--blue);
   font-weight: 600;
   margin: 0;
}
 
.patients-container .patient-button{
   background-color: var(--blue);
   height: 50px;
   color: var(--white);
}

.patients-container .patient-button:focus,
.patients-container .patient-button:hover
.patients-container .patient-button:active{
    background-color: var(--blue-hover);
    border-color: var(--blue-hover);
    color: var(--white);
}

.patients-container .search-bar{
   width: 100%;
   padding: 10px 20px 10px;
   margin-top: 20px;
   border-radius: 50px;
   background-color: var(--light-gray);
   border: none;
}

.patients-container .button-group {
   margin-top: 20px;
   display: flex;
   flex-wrap: wrap;
   margin-bottom: 20px;
 }
 
 .patients-container .btn-alphabet {
   margin: 5px;
   padding: 8px 12px;
   font-size: 14px;
   border: 1px solid #ccc;
   cursor: pointer;
   transition: background-color 0.3s;
 }
 
 .patients-container .button-group button:hover {
   background-color: #ddd;
   border-color: transparent;
 }
 
 .patients-container .button-group .btn-selected {
   background-color: var(--blue);
   color: var(--white);
   border-color: var(--blue);
 }

.patients-container .patient-record{
   background-color: var(--lightest-blue);
   padding: 10px;
   border-radius: 5px;
}

.patients-container .patient-record div{
   display: flex;
   align-items: center;
}

.patients-container .patient-record .patient-name{
   color: var(--blue);
   font-weight: 500;
}

.patients-container .pagination-buttons{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 20px;
}

.patients-container .prev-next-btn button{
   background-color: var(--blue);
   color: var(--white);
}

.patients-container .prev-next-btn button:hover,
.patients-container .prev-next-btn button:active,
.patients-container .prev-next-btn button:focus{
   background-color: var(--blue-hover);
   border-color: var(--blue-hover);
   color: var(--white);
}

.patients-container .prev-next-btn .hide-button{
   background-color: var(--shadow);
}

.patients-container .button-view{
   background-color: var(--blue);
   color: var(--white);
}