@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
   --blue:#31A3B9;
   --blue-hover:#2c95aa;
   --lighter-blue: #62d3ea14;
   --lightest-blue:#31a2b918;
   --white:#fff;
   --overlay: #fafafa56;
   --black:#000;
   --green: #36CE57;
   --green2: #31B957;
   --green-hover: #3bff72;
   --neon-green:#66ff00;
   --light-yellow: #ffeec4;
   --yellow: #B99331;
   --light-red:#da454518;
   --red:#B93131;
   --tomato-hover:#bd0202fb;
   --tomato-red:#da4545fb;
   --light-green:#87D99E;
   --lighter-green: #EBF9F7;
   --shadow: #a9a9a989;
   --search-bar: #00000005;
}

body {
    font-family: "Inter", sans-serif;
    background: var(--white);
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#content {
    width: 100%;
    padding: 30px 50px;
    min-height: 100vh;
    transition: all 0;
}

.patient-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
 }

.patient-header h1{
   color: var(--blue);
   font-weight: 600;
   margin-top: 25px;
}
 
 .patient-button-color{
     background-color: var(--blue);
 }

 .patient-button-color:hover{
    background-color: var(--blue-hover);
 }
 
 .button-text{
     color: var(--white);
     padding: 10px;
 }

 .search{
    margin-top: 25px;
    display: flex;
    align-items: center;
 }


 .search-bar{
    width: 100%;
    padding: 10px 20px;
    border: none;
    background-color: var(--search-bar);
    color: var(--blue);
    border-radius: 25px;
    color: var(--black);
 }

 .filter-button, .orderby-button{
    width: 100%;
    padding: 10px 20px;
    border: none;
    background-color: var(--search-bar);
    border-radius: 25px;
    display: flex;
    color: var(--black);
 }

 .patient-record{
    background-color: var(--lightest-blue);
    padding: 20px;
    margin-top: 25px;
    border-radius: 10px;
    display: flex;
    align-items: center;

 }

 .button-edit-container{
    background-color: var(--white);
    border: 1px solid var(--blue);
    margin-left: 10px;
 }

 .button-edit-container:hover{
    background-color: var(--blue-hover);
    color: var(--white);
 }

 .button-edit-pencil:hover{
    color: var(--white);
 }

 .button-view, .search-button{
   background-color: var(--blue);
   color: var(--white);
 }

 .button-view:hover, .search-button:hover{
   background-color: var(--blue-hover);
   color: var(--white);
 }

.patient-name{
   color: var(--blue);
   text-transform: capitalize;
}