@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

.appoinment-container{
    padding: 0;
    
}

.appointment-row{
    width: 100%;
    margin-top: 30px;
    
    
}

.patient-info{
    background-color: #EBF9F7;
    padding: 50px 80px;
}

.patient-info-text{
    color: #31A3B9;
}

.labels, .time-text{
    color: #31A3B9;
}

.appointment-summary{
    background-color: #EBF9F7;
    padding: 50px 60px;
    margin: 0 30px; 
}

.submit-button{
    background-color: #31A3B9;
    color: #fff;
    width: 70%;
    padding: 13px 0;
}

.reminder{
    margin-top: 20px;
    font-style: italic;
}

.required-field{
    color: #ff0000;
}

.client{
    font-weight: 400;
    font-size: 1.5rem;
}

.form{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

@media screen and (max-width: 1000px) {

    .patient-info{
        margin-bottom: 20px;
    }

    .appointment-summary{
        padding: 50px 60px;
        margin: 0 0px; 
    }
}