@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    font-family: "Inter", sans-serif;
}

.headerpage {
    position: relative;
    background: url('./../../Assets/dentist-cleaning-child-s-teeth1.jpg');
    background-size: cover;
    height: 700px;
}

.headerpage::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.445);
}

.headerpage-container{
    display: flex;
    justify-content: end;
    align-items: end;
    padding-bottom: 70px;
}

.headerpage-card{
    width: 35rem;
    border-radius: 20px;
    border: none;
    box-sizing: border-box;
}

.cardheader {
    background-color:  #31A3B9;
    padding: 35px;
    border-radius: 20px 20px 0 0;
    border-radius: 1px 1px 20px #000000;
}

.cardheader-h5, .cardheader-p{
    color: #fff;
}

.cardheader-h5{
    margin: 0;
    font-size: 3.5rem;
}

.cardheader-p{
    margin: 0;
    font-size: 2.5rem;
    font-weight: 300;
    
}

.headercard-text{
    padding: 35px;
    font-size: 2rem;
    margin: 0;
    color: #31A3B9;
}

.appointment-btn{
    margin-left: 35px;
    margin-bottom: 50px;
    background-color: #31A3B9;
    color: #fff;
    font-size: 2rem;
    padding: 20px 30px;
    border-radius: 10px;
    cursor: pointer;
}

.appointment-btn:hover, .appointment-btn:active{
    border: none;
    background-color: #97deec;
    color: #fff;
}

@media screen and (max-width: 1000px) {
    .headerpage-container{
    align-items: center;
    }

    

    .cardheader-h5{
        font-size: 2rem;
    }

    .cardheader-p{
        font-size: 1.5rem;
    }

    .headercard-text{
        font-size: 1.5rem;
    }

    .appointment-btn{
        font-size: 1.5rem;
        padding-left: 25px;
        padding: 15px;
    }

}