@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
  --blue:#31A3B9;
  --blue-hover:#2c95aa;
  --lighter-blue: #62d3ea14;
  --lightest-blue:#31a2b918;
  --white:#fff;
  --overlay: #fafafa56;
  --black:#000;
  --green: #36CE57;
  --green2: #31B957;
  --green-hover: #3bff72;
  --neon-green:#66ff00;
  --light-yellow: #ffeec4;
  --yellow: #B99331;
  --light-red:#da454518;
  --red:#B93131;
  --tomato-hover:#bd0202fb;
  --tomato-red:#da4545fb;
  --light-green:#87D99E;
  --lighter-green: #EBF9F7;
  --shadow: #a9a9a989;
}

body {
    font-family: "Inter", sans-serif;
    background: var(--white);
}

.view-patient-container {
    display: flex;
    width: 100%;
}

.view-patient-container .content {
    width: 100%;
    padding: 30px 50px;
    min-height: 100vh;
    margin-left: 15%;
}

.no-bg-color{
    background-color: transparent !important; 
}

.dhistory-list-th, .dhistory-info{
    color: var(--blue) !important;
    font-weight: 500;
}

.view-patient-title{
  color: var(--blue);
  font-weight: 600;
}

.view-patient-form-title{
  color: var(--blue);
}
.view-patient-form-hr{
  background-color: var(--blue);
}
.button-view{
    background-color: var(--blue);
    color: var(--white);
  }
 
  .button-view:hover{
    background-color: var(--blue);
    color: var(--white);
  }

  .button-edit-record{
    background-color: var(--white);
    border: 1px solid var(--blue);
    color: var(--blue);
  }
  .button-edit-record:hover{
    background-color: var(--blue-hover);
    border: none;
    color: var(--white);
  }

  .button-service-icon, .button-service{
    color: var(--blue) !important;
    font-weight: 500;
  }